* {
  box-sizing: border-box;
}

.container {
  width: 1352px;
  margin: 0 auto;
}

.hero {
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  padding-top: 16px;
  font-size: 32px;
  line-height: 37px;
  font-family: Raleway;
  font-weight: 300;
  color: #08a6e4;
}

.header-nav {
  display: flex;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans";
  letter-spacing: 3.28px;
  color: #a5a5a5;
}

.nav-element {
  padding: 28px 47.5px;
  border-bottom: 4px solid transparent;
}

.nav-element:hover {
  border-bottom: 4px solid #08a6e4;
  color: #000000;
  cursor: pointer;
}

.open-section {
  margin-top: 130px;
}

.open-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open-section-header {
  font-size: 49px;
  line-height: 57px;
  font-family: Raleway;
}

.open-section-description {
  margin: 20px 0 38px 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Open Sans";
}

.btn {
  display: flex;
  color: #ffffff;
  justify-content: center;
}

.open-section-button {
  padding: 22px 0 23px 0;
  font-family: "Open Sans";
  width: 440px;
  background-color: #08a6e4;
  border-radius: 40px;
  box-shadow: 5px 10px 14px #07ace629;
}

.open-section-image-container {
  width: 100vw;
}

.open-section-image {
  width: 100%;
  height: auto;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 121px 0;
  font-family: Raleway;
}

.statistics-header {
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 101px;
}

.statistics-elements-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

.statistics-element {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.statistic-element-logo {
  width: 63px;
  height: 63px;
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
}

.circle-red {
  background-color: #fb3b64;
}

.statistics-image {
  position: absolute;
}

.person-image-container {
  top: 0;
  left: calc(0.5 * 63px);
}

.statistics-element-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 5.96px;
  padding: 13px 0 19px 0;
}

.statistics-element-details {
  font-size: 17px;
  line-height: 20px;
  color: #a5a5a5;
}

.circle-blue {
  background-color: #08a6e4;
}

.eye-image-container {
  top: 14px;
  left: 47%;
}

.circle-green {
  background-color: #55dfb4;
}

.catalog-image-container {
  top: 6px;
  left: 50%;
}

.benefits {
  background-color: #f7f7f7;
}

.benefits-container {
  display: flex;
  flex-direction: column;
}

.benefit-element {
  display: flex;
  justify-content: space-between;
}

.benefit-element-text {
  max-width: 416px;
}

.benefit-element-image-container {
  position: relative;
  padding: 38px 71px 38px 0;
}

.benefit-image-background__laptop {
  width: 255px;
  height: 255px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  border-radius: 41px;
  background-color: #fb3b64;
  position: absolute;
  right: 178px;
  top: 40px;
}

.benefit-image-container__laptop {
  width: 386px;
  height: auto;
}

.benefit-image {
  width: 100%;
  height: 100%;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.pricing-header {
  font-family: Raleway;
  font-size: 36px;
  line-height: 42px;
}

.pricing-elements-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
}

.pricing-element {
  width: 372px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 18px;
  position: relative;
  padding: 34px 0 81px 0;
}

.pricing-element-header {
  font-family: Raleway;
  font-weight: bold;
}

.pricing-little-element-header {
  font-size: 20px;
}

.pricing-element-price {
  font-weight: 300;
  font-size: 46px;
  margin-top: 14px;
}

.pricing-first-price {
  color: #fb3b64;
  margin-bottom: 69px;
}

.pricing-element-text {
  font-size: 14px;
  line-height: 41px;
  padding-bottom: 20px;
}

.pricing-element-text::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
}

.pricing-element-checked::before {
  background-image: url("../assets/Ckechmark-1.svg");
}

.pricing-element-unchecked::before {
  background-image: url("../assets/Close.svg");
}

.checked-box {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #55dfb4;
  border-radius: 2px;
}

.unchecked-box {
  display: inline-block;
  width: 11px;
  height: 10px;
  color: #eb476e;
  border: 1px solid #eb476e;
  border-radius: 2px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 9px;
  text-align: center;
}

.pricing-button {
  width: 150px;
  padding: 16px 0;
  border-radius: 23px;
  position: absolute;
  bottom: -25px;
}

.pricing-first-button {
  background-color: #eb476e;
}

.pricing-first-element {
  border-color: #fb3b64;
}

.pricing-last-price {
  color: #55dfb4;
}

.pricing-last-button {
  background-color: #55dfb4;
}

.pricing-last-element {
  border-color: #55dfb4;
}

.pricing-limited-offer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 12px;
  color: #13253b;
  margin-top: 5px;
}

.pricing-last-limited-offer {
  margin-bottom: 50px;
}

.pricing-big-element {
  width: 405px;
  box-shadow: 5px 10px 27px #07ace629;
  border-color: #07ace6;
}

.pricing-big-element-header {
  font-size: 21px;
}

.pricing-big-price {
  color: #07ace6;
}

.pricing-big-limited-offer {
  margin-bottom: 61px;
}

.pricing-big-element-text {
  padding-bottom: 26px;
}

.pricing-big-button {
  width: 165px;
  background-color: #07ace6;
  box-shadow: 5px 10px 14px #07ace629;
}

.contact {
  margin-top: 179px;
  margin-bottom: 59px;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 114px;
}

.contact-header {
  font-family: Raleway;
  font-size: 49px;
  line-height: 57px;
}

.contact-description {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  padding: 22px 0 40px 0;
}

.contact-infos-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-info-mail {
  margin-right: 10px;
}

.contact-info-icon {
  width: 27px;
  height: 27px;
}

.contact-info-details {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #a5a5a5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.label {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: #08a6e4;
}

.text-input {
  height: 42px;
  border: none;
  border-bottom: 1px solid #95989a;
}

.email-label {
  margin-top: 42px;
}

.contact-form-agreement {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid #95989a;
  border-radius: 4px;
  outline: none;
}

.checkbox:checked {
  background-image: url("../assets/Checkmark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 12px 11px;
  background-position: center;
}

.contact-form-agreement-text {
  width: 405px;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 17px;
  color: #707070;
}

.contact-form-button {
  margin-top: 20px;
  padding: 20px 0;
  width: 226px;
  background-color: #08a6e4;
  border: none;
  border-radius: 35px;
  box-shadow: 5px 10px 14px #07ace629;
  align-self: flex-end;
}
